// Globals
$baseline: 1.6em;
$text-color: #101010;
$h-color: #373832;
$light-text-color: rgb(73, 73, 70);
$color-three: #668449;

// CSS reset
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    background-repeat: no-repeat;
}

html {
    font-size: 20px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

*+* {
    margin-top: $baseline;
}

br,
audio,
br,
nav,
nav ul,
li {
    margin-top: 0;
}

// Typography
@font-face {
    font-family: Belgrano;
    src: url('fonts/Belgrano-Regular.ttf');
}

html {
    font-family: Verdana, sans-serif;
}

body {
    margin: 0;
    background: #EEE;
}

a {
    color: #46aed5;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

a:hover {
    color: #005675;
    opacity: 1;
    text-decoration-color: inherit;
}


// Layout and general styling
body {
    line-height: $baseline;
    font-family: inherit;
    color: $text-color;
    padding: 1em;
}

html {
    line-height: $baseline;
}

h1,
h2,
h3 {
    font-family: Belgrano, Cambria, Georgia, serif;
}

h1 {
    font-size: 1.8em;
    color: $h-color;
}

.center-column>h1 {
    padding-left: 20px;
}

h2 {
    font-size: $baseline;
    color: $h-color;
    line-height: 1.4em;
}

h3 {
    font-size: 1.2em;
    color: $h-color;
}

header {
    white-space: nowrap;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: end;
}

header .horizontal-line {
    margin-top: 0.5em;
}

nav {
    margin-top: 0;
    margin-left: 1em;
    vertical-align: bottom;
    flex: 100;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

nav li {
    padding-right: 2em;
    float: left;
}

hr {
    color: #566a43;
}

.center-column,
header {
    max-width: 1024px;
    margin: 0 auto;
}

.center-column {
    margin-top: $baseline;
}

section {
    padding: 20px;
    text-align: justify;
    background: #FFF;
}

section h1,
section h2,
section h3 {
    text-align: left;
}

section ul,
section ol {
    padding-left: 1em;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

section li {
    margin-left: 0.5em;
    padding-left: 0.5em;
}

section img {
    max-width: 100%;
    border-radius: 0.5em;
}

code {
    font-size: 0.8em;
    overflow-x: auto;
    line-height: 1em;
    padding: 0.5em;
    display: block;
}

code *+* {
    margin-top: 0;
}

blockquote {
    margin-left: 1em;
    border-left: 1px solid #888a7a;
    padding-left: 1em;
    padding-right: 2em;
    font-style: italic;
}

footer {
    margin-top: 2em;
    font-size: 0.8em;
    line-height: 2.5em;
    text-align: center;
}

a.back-to-top {
    font-size: 0.8em;
    margin-top: $baseline;
    display: block;
}

form {
    text-align: left;
}

form input,
form textarea {
    width: 100%;
    padding: 3px 6px;
    line-height: $baseline;
}

form textarea {
    height: 8em;
}

form button {
    font-family: inherit;
    padding: 1px 7px;
    margin-top: 0.5em;
}

.horizontal-line {
    border-top: solid 1px #888a7a;
    margin: 2em 0 0 0;
}


// Blog overview
.blog-list {
    padding-left: 0px;
    margin-top: $baseline;
    display: flex;
    flex-wrap: wrap;
}

.blog-list li {
    padding: 1em;
    margin: 1em 0 0 0;
    list-style: none;
    overflow: hidden;
    border-radius: 0.5em;
}

.blog-tile {
    display: inline-block;
    vertical-align: top;
    max-width: 320px;
    margin: 0.5em;
    padding: 0.5em;
    background: #FFF;
    text-align: center;
}

.blog-tile h2 {
    margin-top: 0.5em;
}

.blog-date {
    font-style: italic;
}

.blog-description {
    display: inline-block;
    margin-top: 0;
}

.blog-tile p {
    margin-top: 0.5em;
}

.blog-list img {
    width: 256px;
    height: auto;
    border-radius: 0.5em;
    border: solid #e0ecdc 2px;
}


// Home page (index.html) styling
.home-page .center-column {
    max-width: 870px;
    display: flex;
    flex-direction: row;
    margin-top: 20%;
}

.photo-frame {
    display: inline-block;
    background: #89c256;
    text-align: center;
}

.photo-frame img {
    border: solid 4px #FFF;
    margin: 5px 5px 0px 5px;
}

.home-page nav {
    margin-top: 1em;
    margin-left: 0;
}

.home-page .photo-frame {
    padding: 1em;
    margin-right: 1em;
}

.home-page .photo-frame img {
    border: solid 10px #FFF;
    margin: 2.5em 0 0 0;
}

.home-page>.center-column>div {
    margin-top: 0;
}

.home-page h1 {
    font-size: 4em;
    line-height: 1em;
}

.home-page p {
    margin-top: 2em;
    font-size: 2em;
    line-height: 1.5em;
}

// About
.career>div {
    display: flex;
    flex-direction: row;
}

.career .location {
    font-style: italic;
    text-align: center;
    flex: 1;
}

.career .location img {
    margin: $baseline auto 0 auto;
    max-width: none;
}

.career .description {
    margin-top: 0;
    padding-left: 0.75em;
    margin-left: 0.75em;
    border-left: solid 1px #888a7a;
    flex: 10;
}

// Small screens
@media (max-width: 880px) {
    .home-page .center-column {
        flex-direction: column;
        margin-top: 0;
    }

    .home-page .photo-frame {
        margin-bottom: $baseline;
    }

    .home-page .photo-frame img {
        margin: 0;
    }

    .home-page p {
        margin-top: 1em;
    }

    .home-page nav {
        width: 100%;
        text-align: center;
    }

    .home-page nav li {
        float: none;
        margin-top: 0.5em;
        padding: 0;
    }

    .career>div {
        flex-direction: column;
    }

    .career .description {
        margin: 0;
        padding: 0;
        border-left: none;
    }
}