// Globals
$baseline: 1.5rem;
$column-width: 1024px;
$header-height: 1.5em;
$footer-height: 1.5em;

$text-color: #E4E9EE;
$h-color: #E0ECDC;
$light-text-color: rgb(73, 73, 70);
$color-three: #668449;

$back-color-light: #232937;
$back-color-dark: #1C212D;

// CSS reset
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    background-repeat: no-repeat;
}

html {
    font-size: 18px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

* + * {
  margin-top: $baseline;
}

br, audio, br, nav, nav ul , li {
  margin-top: 0;
}

// Typography
html {
    font-family: Cambria, Georgia, serif;
}

a {
  color: #c3e6a2;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.15em;
  text-decoration-color: $text-color;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

a:hover {
  color: #7a9461;
  opacity: 1;
  text-decoration-color: inherit;
}


// Layout

body {
	line-height: $baseline;
    font-family: inherit;
    color: $text-color;
}

html {
    background-color: $back-color-light;
    line-height: 1.5em;
}

h1 {
    font-size: 1.8em;
    color: $h-color;
}

h2 {
    font-size: 1.5em;
    color: $h-color;
}

h3 {
    font-size: 1.2em;
    color: $h-color;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left:auto;
    margin-right:auto;
    z-index: 1;
    font-size: 1.5em;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    width: $column-width;
    background-color: #232937;
    padding: 0.5em 0em;
}

#logo {
    padding-left: calc(#{$header-height} / 2);
    vertical-align: top;    
    display: inline-block;
}

nav {
    display: inline-block;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav li {
    padding-left: 1em;
    float: left;
}

hr {
    color: #566a43;
}

#center-column, footer {
    max-width: $column-width;
    margin: 0 auto;
}

#center-column {
    position: relative;
    height: 100%;
    padding-top: $header-height;
    padding-bottom: $footer-height;
}

section {
    padding: 20px;
    background-color: $back-color-dark;
    text-align: justify;
    border-radius: 0.5em;
}

section h1, section h2, section h3 {
    text-align: left;
}

section ul, section ol {
    padding-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

section li {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
}

section code {
    font-size: 0.8em;
}

section img {
    max-width: 100%;
    border-radius: 0.5em;
}

section pre.language-rust {
    overflow-x: auto;
    line-height: 1rem;
    padding: 0.5rem;
}

section pre.language-rust * + * {
    margin-top: 0;
}

footer {
    width: 100%;
    line-height: 2.5em;
    text-align: center;
}

.blog-list {
    padding-left: 0px;
    margin-top: 1.5rem;
}

.blog-list li {
    background-color: #272c37;
    padding: 0.5em;
    margin: 1em 0 0 0;
    list-style: none;
    overflow: hidden;
    border-radius: 0.5em;
}

.read-more {

}

.blog-tile {
    display: inline-block;
    vertical-align: top;
}

.blog-description {
    display: inline-block;
    margin-top: 0;
}

.blog-tile p {
    margin-top: 0.5rem;
}

.blog-list img {
    width: 200px;
    height: auto;
    border-radius: 0.5em;
    border: solid #e0ecdc 2px;
}

a.back-to-top {
    font-size: 0.8em;
}

form {
    text-align: left;
}

form input, form textarea {
    width: 100%;
    padding: 3px 6px;
    line-height: $baseline;
}

form textarea {
    height: 8rem;
}

form button {
    font-family: inherit;
    padding: 1px 7px;
    margin-top: 0.5rem;
}

header, #center-column {
    max-width: 1024px;
}