// Globals
$baseline: 1.5rem;
$column-width: 1024px;
$header-height: 3em;
$footer-height: 2.5em;

$header-color: #FFF;
$text-color: #3c3c3c;
$h-color: #282828;
$light-text-color: rgb(73, 73, 70);
$color-three: #668449;
$background-color: #F0EEEA;
$foreground-color: #FFF;

// CSS reset
* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: inherit;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    background-repeat: no-repeat;
    color: $text-color;
}

html {
    font-size: 25px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

* + * {
  margin-top: $baseline;
}

br, audio, br, nav, nav ul , li {
  margin-top: 0;
}

// Typography
@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
}

a {
  color: $color-three;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.15em;
  text-decoration-color: $text-color;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

a:hover {
  color: #9bd068;
  opacity: 1;
  text-decoration-color: inherit;
}


// Layout

body {
	line-height: $baseline;
}

html {
    background-color:$background-color;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

h1 {
    font-size: 2em;
    color: $h-color;
}

h2 {
    font-size: 1.5em;
    color: $h-color;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    background: #fff;
    z-index: 1;
}

#logo {
    padding-left: calc(#{$header-height} / 2);
    vertical-align: top;    
    display: inline-block;
}

nav {
    display: inline-block;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav li {
    padding-left: 1em;
    float: left;
}

#center-column {
    max-width: $column-width;
    margin: 0 auto;
    position: relative;
    height: 100%;
    padding-top: $header-height;
    padding-bottom: $footer-height;
}

section {
    padding: 10px 30px 20px 30px;
    text-align: justify;
}

section ul {
    padding-left: 10px;
}

section li {
    margin-left: 16px;
}

footer {
    width: 100%;
    height: 2.5em;
    line-height: 2.5em;
    background: #CDDF8B;
    text-align: center;
}

.blog-list {
    padding-left: 0px;
}

.blog-summary {
    display: inline-block;
    padding-left: 1.5em;
    vertical-align: top;
    margin-top: 0;
}

.blog-list img {
    width: 200px;
    height: auto;
}