{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {{ section.title }}
</h1>
<ul class="blog-list">
    {% for page in section.pages %}
    <div>
        {% if page.extra.blog_icon %}
        <img src="{{ page.extra.blog_icon }}" alt="Blog post icon" width="128" />
        {% endif %}
        <div class="blog-summary">
            <h2>{{ page.title }}</h2>
            {% if page.description %}
            <p>{{ page.description }}</p>
            {% endif %}
            <a href="{{ page.permalink | safe }}">Read more</a>
        </div>
    </div>
    {% endfor %}
</ul>

{% endblock content %}