{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {{ section.title }}
</h1>
<ul class="blog-list">
    {% for page in section.pages %}
    <li>
        <h2>{{ page.title }}</h2>
        <div class="blog-tile">
            <div class="blog-icon">
                {% if page.extra.blog_icon %}
                <a href="{{ page.permalink | safe }}"><img src="{{ page.extra.blog_icon }}" alt="Blog post icon"
                        height="160" /></a>
                {% endif %}
            </div>
            <div class="blog-description">
                {% if page.summary %}
                {{ page.summary | safe }}
                {% endif %}
                <p><a class="read-more" href="{{ page.permalink | safe }}">Read more</a></p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock content %}