{% extends "base.html" %}

{% block content %}
<h1 class="title">
    {{ section.title }}
</h1>
<div class="blog-list">
    {% for page in section.pages %}
    <div class="blog-tile">
        <div class="blog-date">{{ page.date }}</div>
        <h2>{{ page.title }}</h2>
        <div class="blog-icon">
            {% if page.extra.blog_icon %}
            <a href="{{ page.permalink | safe }}"><img src="{{ page.extra.blog_icon }}" alt="Blog post icon"
                    height="160" /></a>
            {% endif %}
        </div>
        <div class="blog-description">
            {% if page.description %}
            {{ page.description | safe }}
            {% endif %}
            <p><a href="{{ page.permalink | safe }}">Read more</a></p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}