{% extends "base.html" %}

{% block content %}
<h1 class="title">Welcome</h1>
<p>Welcome to my personal website. My name is Bas van Schoonhoven. I live in the Netherlands and work as a senior
    software developer at <a href="https://www.oclc.org">OCLC</a>.</p>
<p>Previously I have done technical and policy research at
    <a href="https://www.tno.nl/en/focus-areas/information-communication-technology">TNO ICT</a>, and worked as a
    software developer at <a href="https://www.de-ree.nl">DE REE Archiefsystemen</a>.
</p>
<p>Professionally I mostly do Java and MySQL backend development with some front-end work mixed in. As a hobby I create
    prototypes and toys using Rust, Java and OpenGL.</p>
<p>This site acts as a portfolio and as a place for sharing things that interest me in my <a href="/blog">Blog</a>.</p>

<h1 class="title">Contact me</h1>
<form action="https://formspree.io/f/xbjwdayz" method="POST">
    <label>Your e-mail:<input type="email" name="_replyto"></label><br />
    <label>Your message:<textarea name="message"></textarea></label><br />
    <button type="submit">Send</button>
</form>

{% endblock content %}