{% extends "base.html" %}

{% block content %}
<h1 class="title">Welcome</h1>
<p>Welcome to my personal website. My name is Bas van Schoonhoven. I live in the Netherlands and work as a senior
    software developer at OCLC.</p>
<p>Professionally I mostly do Java and MySQL backend development with some front-end work mixed in. As a hobby I create
    prototypes and toys using Rust, Java and OpenGL.</p>
<p>This site acts as a portfolio and as a place for sharing things that interest me in my <a href="/blog">Blog</a>.</p>
{% endblock content %}