<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Bas Blog About Code</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body class="home-page">
    <div class="center-column">
        <div class="photo-frame">
            <img src="/bas.png" alt="Photo of Bas" style="border-radius: 50%;" width="128">
        </div>
        <div>
            <h1>Hi, I am Bas</h1>
            <p>Welcome to my personal website.</p>
            <div class="horizontal-line"></div>
            <nav>
                <ul class="nav-links">
                    <li><a href="/blog">BLOG</a></li>
                    <li><a href="/projects">PROJECTS</a></li>
                    <li><a href="https://github.com/grunnt?tab=repositories" target="_blank">CODE</a></li>
                    <li><a href="/about">ABOUT ME</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>

</html>